

.about-me{
    display: flex;
    justify-content: center;
    margin-left: 15%;
    -webkit-animation: aboutme 1s;
    animation: aboutme 1s;
}

.about-me-text{
    opacity: 0;
    color: white;
    font-family: Courier, monospace;
    animation: aboutMeText 1s forwards 1.5s;
}

@keyframes aboutMeText{
    from{opacity: 0;}
    to{opacity: 1;}
}


p{
  text-align: center;
}

img{
  height: 250px;
  width: 250px;
  object-fit: scale-down;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  -webkit-animation: img1 3s;
  animation: img1 3s;
}

@-webkit-keyframes img1{
  from{ opacity: 0;}
  to{ opacity: 1;}
}
@keyframes img1{
  from{ opacity: 0;}
  to{ opacity: 1;}
}



@-webkit-keyframes aboutme{
    from{margin-left: 0%;}
    to{ margin-left: 15%;}
}
@keyframes aboutme{
    from{ margin-left: 0%;}
    to{ margin-left: 15%;}
}