.row{
  margin: 0;
}


@-webkit-keyframes img1 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes img1 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



@-webkit-keyframes aboutme {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 15%;
  }
}

@keyframes aboutme {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 15%;
  }
}

/*new css*/

.about-me-img-wrapper {
  animation: img-animation 1s;
  text-align: center;
}

img {
  height: calc(100px + 6vw);
  width: calc(100px + 6vw);
  object-fit: cover;
  border: 3px solid #d36e3e;
  border-radius: 50%;
  /* clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); */
  /* animation: img-wavy 4s linear infinite alternate; */
}

@keyframes img-wavy {
  from {
    transform: translateX(5px) translateY(-5px);
  }

  25% {
    transform: translateX(-5px) translateY(-5px);
  }

  75% {
    transform: translateX(5px) translateY(5px);
  }

  to {
    transform: translateX(-5px) translateY(5px);
  }

}

@keyframes img-animation {
  from {
    transform: translateX(-300px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.about-me-txt-wrapper {
  text-align: center;
  animation: text-animation 1s;
}

@keyframes text-animation {
  from {
    opacity: 0;
    transform: translateX(300px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

a{
  position: relative;
  color: #24aac0;
  text-decoration: none;
}
.about-me-header{
  color: white;
    font-weight: bolder;
    font-size: calc(7px + 1vw);
    border-bottom: 2px white solid;
    letter-spacing: 4px;
    font-family: cursive;
    height: calc(16px + 1vw);
}
.link-border{
  position: relative;
}

.link-border::after{
  content: "";
    position: absolute;
    width: 100%;
    background: #d36e3e;
    height: 2px;
    left: 0;
    bottom: -5px;
    transform-origin: 0 50%;
    transform: scaleX(0);
    transition: .4s ease;
}

.link-border:hover::after{
  
  transform: scaleX(1)
}
.link-border:hover{
  color: #d36e3e;
}
.link-border:hover >>> fa-icon >>> svg{
  color: #d36e3e !important;
}

.svg-flex{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

fa-icon >>> svg{
  cursor: pointer;
  height: calc(10px + 2vw) !important;
  width: calc(10px + 2vw) !important;
}

fa-icon >>> svg:hover{
  color: #d36e3e !important;
}

.brand-name{
  margin: 0 5px;
}

.link-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100px);
  opacity: 0;
  /* animation: link-anime 1s; */
}

.social-media-wrapper{
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* @keyframes link-anime{
  from{
    transform: translateX(-100px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
} */