<div class="about-me">
<div class="row ">
    <div class="col-md-6">
        <div class="col-md-6" style="text-align: center;">
            <img src="../../assets/images/IMG_20180225_020054_260.jpg" alt="Not found">
        </div>
          <div class="col-md-6 about-me-text">
            <p>Hello There! I'm Chandru Ramamoorthy. Welcome to my Portfolio site :) </p>
            <p>I'm a Full Stack Developer with experience of working with Technologies like Angular, Java, Spring Framework and SQL. In my Personal time, I have been exploring Mobile Development with Flutter, Dart and Firebase. Have a good day! :)</p>
          </div>
    </div>
</div>
</div>
