<!-- <ng-container *ngFor="let repo of gitRepos">
  <div><a href="{{repo?.html_url}}" target="_blank">{{repo?.url}}</a></div>
 
</ng-container> -->

    <!-- <div class="row">
        <div class="offset-sm-3 col-sm-9" style="text-align: center;">
            <p class="staticType">Hello there! I'm&nbsp;<section class="typewriter"> Chandru Ramamoorthy. :)</section>
        </div>
      </div>   -->
  <div class="landing-page">
    <div class="typewriter">
        <div class="typewriter-text text-font">
          Hello there! I'm Chandru Ramamoorthy :)
        </div>
        <div class="welcome">
          Welcome to my Portfolio site!
        </div>
    </div>
  </div>
  <!-- <card [imgInput]="cardImageObj">
    <card-title>
      About Me
    </card-title>
    <card-body>
        <p>Hello There! I'm Chandru Ramamoorthy. Welcome to my Portfolio site :) </p>
        <p>I'm a Full Stack Developer with experience of working with Technologies like Angular, Java, Spring Framework and SQL. In my Personal time, I have been exploring Mobile Development with Flutter, Dart and Firebase. Have a good day! :)</p>
    </card-body>
  </card> -->


<!-- <div class="trans">
  Hello
</div> -->