img{
    height: 200px;
    width: 200px;
    left: 0%;
    border-radius: 100px;
    -webkit-animation: img1 2s infinite alternate 1s;
    animation: img1 5s infinite alternate 1s linear;
    transition: transform 5s ease;
    -webkit-transition:transform 1s ease;
    -moz-transition: width 5s ease;
    -o-transition: width 5s ease;
}

img:hover{
    transform: scale(2);
    
}

@-webkit-keyframes img1{
    0%{ opacity: 1;}
    10%{ opacity: 0;}
    20%{ opacity: 0;}
    27%{ opacity: 1;}
    35%{ opacity: 0;}
    45%{ opacity: 1;}
    50%{ opacity: 0;}
    58%{ opacity: 1;}
    65%{ opacity: 0;}
    75%{ opacity: 1;}
    80%{ opacity: 0;}
    85%{ opacity: 1;}
    100%{ opacity: 1;}
}
@keyframes img1{
    0%{ opacity: 1;}
    10%{ opacity: 0;}
    20%{ opacity: 0;}
    27%{ opacity: 1;}
    35%{ opacity: 0;}
    45%{ opacity: 1;}
    50%{ opacity: 0;}
    58%{ opacity: 1;}
    65%{ opacity: 0;}
    75%{ opacity: 1;}
    80%{ opacity: 0;}
    85%{ opacity: 1;}
    100%{ opacity: 1;}
}

@-webkit-keyframes example{
    from{ background-color: blue;}
    to{ background-color: yellow;}
}
@keyframes example{
    from{ background-color: blue;}
    to{ background-color: yellow;}
}

.trans{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 2s ease;
    animation-name: example;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-delay: 1s;
    animation-fill-mode: both;
}


