/* You can add global styles to this file, and also import other style files */
/* body{
    
    
    background-color: #141414 !important;
} */
html, body, .wrapper{
    height: 100%;
}
.portfolio-container{
    margin-right: 5%;
    margin-left: 5%;
}
